@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.box-aluninhos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.box-aluno{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 2%;
    background-color: aquamarine;
    width: 95%;
    height: 15em;
}
table{
    width: 100%;
}

img{
    width: 40%;
}

.add-pokemon{
    display: flex;
    flex-direction: column;
}

.espaco{
    padding: 2%;
}