@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.conteudo{
    padding-top: 10%;
}
.centro{
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    list-style-type: none;
}

/*formatacao dos textos, fontes e afins*/
.label-titulo-card{
    font-size: 1.5em;
    text-indent: 2em;
    font-weight: 700;
    max-height: 3em;
    padding-top: 1em;
    border-top-right-radius: 1.4em;
    border-top-left-radius: 1.4em;
    background-color: #80D6FF;
    width: 100%;
}

.box-aluninhos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.box-aluno{
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    display: flex;
    justify-content: flex-start;
    background-color: aquamarine;
    flex-direction: column;
    width: 90%;
    height: 15em;
    margin: 3%;
}

.string-lunomon{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2%;
}

.separador-lunomon{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-right: 2%;
}

.flutuante-titulo{
    position: fixed;
    z-index: 1;
    width: 100%;   
}

.absolute-titulo{
    position: fixed;
}

.flutuante{
    position: relative;
    padding-left: 95%;
}

.absolute{
    position: fixed;
    bottom: 0;
}
img{
    width: 130px;
}

.add-pokemon{
    display: flex;
    flex-direction: column;
}

.espaco{
    margin: 2%;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


    .box-aluninhos{

        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 2%;
        border-radius: 2em;
    }


}

